body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: goldenrod;
}
:root {
    --base: #ffc600;
    --spacing: 20px;
    --blur: 10px;
    text-align: center;
}

img {
    text-align: center;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1 {
    color: var(--base);
}
label{
    color: rebeccapurple;
}
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #c4c4c4;
    color: rgb(0, 110, 92)
}
h1, h2 {
    text-align: center;
    color: rebeccapurple;
    text-shadow: mintcream;

}